@import url('bootstrap.min.css');

html, body, dl, dd, dt, p, h1, h2, legend, img {
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}

.wrapper {
    position: relative;
    height: 100%;
}

.header {
    position: relative;
    height: 50px;
    background-color: rgba(46, 91, 156, 1);
}

.header h1 {
    font-size: 30px;
    font-weight: normal;
    top: 0px;
    line-height: 50px;
    text-align: center;
}

.header .logo {
    position: absolute;
    right: 20px;
    top: 0px;
    height: 30px;
}

.header .logo img {
    height: 30px;
}

.header h1 {
    color: #eee;
    text-shadow: 1px -1px 1px #555;
}

.main-nav {
    float: left;
    display: inline;
    margin-left: 20px;
}

.main-nav li {
    display: inline;
    float: left;
    line-height: 30px;
    position: relative;;
}

.main-nav li a {
    padding: 0px 20px;
    display: block;
}

.user-nav {
    float: right;
    display: inline;
    margin-right: 20px;
    line-height: 30px;
}

.user-nav a {
    margin-left: 15px;
}

.main-nav a {
    background-color: rgba(73, 145, 203, 0);
    transition: all ease 0.2s;
}

.main-nav a:hover {
    background-color: rgba(21, 63, 97, 0.9);
    color: #fbfbfa;
}

.sec-nav {
    position: absolute;
    z-index: 100;
    width: 100%;
    text-align: left;
    height: 0px;
    overflow: hidden;
    transition: height 0.2s ease;
    background: rgba(73, 145, 203, 0.9);
}

.main-nav li:hover .sec-nav {
    height: 90px;
}

.sec-nav1 {
    position: absolute;
    z-index: 100;
    width: 100%;
    text-align: left;
    height: 0px;
    overflow: hidden;
    transition: height 0.2s ease;
    background: rgba(73, 145, 203, 0.9);
}

.main-nav li:hover .sec-nav1 {
    height: 30px;
}

.navigation {
    background-color: rgba(73, 145, 203, 0.8);
}

.navigation a {
    text-decoration: none;
    color: rgb(229, 228, 221);
}

.main-nav a {
    background-color: rgba(73, 145, 203, 0);
    transition: all ease 0.2s;
}

.main-nav a:hover {
    background-color: rgba(21, 63, 97, 0.9);
    color: #fbfbfa;
}

.user-nav a {
    transition: color ease 0.2s;
}

.user-nav a:hover {
    color: #fbfbfa;
}

.side-nav .title {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
    background: -webkit-gradient(linear, left top, left bottom, from(#3d89c7), color-stop(0.5, #032d50), to(#0f4068));
    color: #fff;
}

.web3dglobe-bar {
    background-color: #134483;
    font-family: "微软雅黑";
}

.web3dglobe-bar div.navbar-header {
    background: no-repeat url('../img/radi-logo-s.png') left center;
    padding-left: 64px;
}

.web3dglobe-bar .navbar-header a,
.web3dglobe-bar .navbar-header a:focus,
.web3dglobe-bar .navbar-header a:hover {
    color: #ffffff;
    font-size: 14pt;
    font-weight: bold;
}

.web3dglobe-bar > div > div.navbar-collapse > ul.nav > li > a {
    color: #8bb2e4;
    background: none;
    font-size: 11pt;
    font-weight: bold;
}

.web3dglobe-bar > div > div.navbar-collapse > ul.nav > li.active > a {
    background-color: #3b79c9;
    color: #ffffff;
}

.web3dglobe-bar > div > div.navbar-collapse > ul.nav > li > a:hover /*,
.web3dglobe-bar > div > div.navbar-collapse > ul.nav > li > a:focus*/
{
    background-color: #3b79c9;
    color: #ffffff;
}

.web3dglobe-bar > div > div.navbar-collapse > ul.nav > li > a:hover .caret /*,
.web3dglobe-bar > div > div.navbar-collapse > ul.nav > li > a:focus .caret*/
{
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.active .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.web3dglobe-bar > div > div.navbar-collapse > ul.web3dglobe-nav > li > a {
    color: #ffd693;
    font-size: 10pt;
}

.web3dglobe-bar > div > div.navbar-collapse > ul.web3dglobe-nav > li > a:hover,
.web3dglobe-bar > div > div.navbar-collapse > ul.web3dglobe-nav > li > a:focus {
    background-color: #3b79c9;
    color: #ffd693;
}

#globediv {
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 60px;
}

#cesiumContainer {
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#prod {
    background: transparent;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffffff;
}

#carousel {
    margin: 0 auto;
}

#carousel img {
    border: 1px solid #CCCCCC;
    background: transparent;
}

#carousel img:hover {
    /*border: 4px solid #38EA25;*/
    border: 3px solid #CCCCCC;
    background: transparent;
}

#carousel div.prod-descr {
    text-align: center;
}

#carousel div.prod-img {
    display: block;
    width: 120px;
    height: 77px;
    background: #ffffff;
    border: 1px solid #CCCCCC;
}

.nav-item {
    border: 4px solid #38EA25;
    cursor: pointer;
}

#ui-carousel-next, #ui-carousel-prev {
    position: absolute;
    z-index: 100;
}

#ui-carousel-prev > span {
    width: 20px;
    height: 20px;
    display: inline-block;
    font-family: serif;
    font-size: 20pt;
    color: #F5F5F5;
}

#ui-carousel-prev > span:before {
    content: '\2039';
}

#ui-carousel-next > span {
    width: 20px;
    height: 20px;
    display: inline-block;
    font-family: serif;
    font-size: 20pt;
    color: #F5F5F5;
}

#ui-carousel-next > span:before {
    content: '\203a';
}

.web3dglobe-data {
    position: absolute;
    left: 0;
    width: 290px;
    margin: 2px;
    display: none;
}

#datatree ul, #datatree li {
    list-style-type: none;
}

#datatree {
    overflow-y: auto;
    overflow-x: auto;

    height: 98%;
}

.web3dglobe-bar .panel-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.web3dglobe-data hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

#panelBody {
    position: relative;
    /*height: 88%;*/
    height: 95%;
}

#carousel-items {
    display: none;
}

.twoSlider {
    position: absolute;
    right: 80px;
    width: 260px;
    margin: 10px;
    display: none
}

#addSimpleFile {
    /*display: none;*/
    margin: 5px;
    padding-top: 90px;
    padding-left: 20px;
    position: absolute;
    z-index: 100;
}

#select_crossSat {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    /*width: 95%;*/
    border-radius: 4px 4px 4px 4px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 35px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
}

/*<!--添加全球人口信息对比的功能，承载三个按钮的div-->*/
#toolbar_popu {
    margin: 5px;
    padding: 2px 5px;
    right: 8px;
    top: 100px;
    position: relative;
    display: none;
}

#cover {
    position: absolute;
    background-color: rgba(6, 4, 21, 0.6);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 100;
    display: none;
}

#cover img {
    position:relative;
    width: 80px;
    height: 80px;
    margin: 400px auto;
    display:block;
}